.header{
  font-size: 70px;
  color: pink;
  font-family: inherit;
    text-align: center;
}

.subtitle{
  color: black;
  font-family: inherit;
    text-align: center;
    min-height: 25vh;
}

.phrase{
  color: black;
  font-family: inherit;
    text-align: left;
    width: 70vw;
    min-height: 10vh;
    margin-left: 7%

}
mark {
  background-color: pink;
color: black;
}

.slogan{
  color: black;
  font-family: inherit;
    text-align: left;
    width: 70vw;
    min-height: 10vh;
    margin-left: 7%
}

.about{
  line-height: 2;
  text-align: justify;
  padding-left:120px;

}

.second{
  line-height: 5;
  width: 70vw;
  min-height: 25vh;
  padding-left: 315px;
  min-height: 10vh

}

* {
  box-sizing: border-box;
}

.column {
  float:none;
  width: 20%;
  padding: 3px;
  margin-left: 160px;
  text-align: center;
  color: inherit;
}

.column:hover {
  opacity: 0.7;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #22cff4;
  color: white;
}
}

.fa-linkedin {
  background: white;
  color: #0077B5;
  font-size: 30px
}

.fa-instagram {
  background: #f56040; RGB: (245,96,64) CMYK: (0,78,79,0);
  color: white;
}
