
h1,h2{
  text-align: center;
}
ol{
  text-align: center;
  list-style: none;
  padding:0;
  margin-bottom: 10%;
  font-size: 3em;
  display: flex;
  justify-content: space-between;
}


body{
  color: pink;
  font-family:monospace;
  background-color: white;
}
